extends layout

block content

  h1 Maker: #{maker.name}
  p #{maker.founded}

  div(style='margin-left:20px;margin-top:20px')

    h4 Cars

    dl
    each car in maker_cars
      dt
        a(href=car.url) #{car.name}
      dd #{car.summary}

    else
      p This maker has no cars.